extend ../base

include template/insert_new_question.pug

block append head
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

block content
        nav.row
                .nav-wrapper
                        .col.s12
                                a(href="/", class="breadcrumb") Toolbox
                                a(href="/forms", class="breadcrumb") Forms
                                a(href="#", class="breadcrumb")= doc.form.title
        form(action="", method="post")
                div(class="message")
                input(type="hidden", name="_method", value="put")
                input(type="hidden", name="_id", value=doc.form._id)
                .row
                        .input-field.col.s12
                                input(type="text", name="title", id="title", value=doc.form.title)
                                label(for="title", class="active") Title
                        .input-field.col.s12
                                input(type="text", name="author", id="author", value=doc.form.author)
                                label(for="author", class="active") Author
                        .input-field.col.s12
                                input(type="text", name="description", id="description", value=doc.form.description)
                                label(for="description", class="active") Description
                        .input-field.col.s12
                                input(type="text", name="url", id="url", value=doc.form.url)
                                label(for="url", class="active") URL
                        .input-field.col.s12
                                input(type="text", name="email_to", id="email_to", value=doc.form.email_to)
                                label(for="email_to", class="active") Email To
                        .input-field.col.s12
                                input(type="text", name="email_subject", id="email_subject", value=doc.form.email_subject)
                                label(for="email_subject", class="active") Email Subject
                .row
                        if doc.form.questions
                                ul.collapsible                                        
                                        +new-question(doc.form.questions, doc.form.questions.length)
                                        each question, index in doc.form.questions
                                                li.hoverable                                                        
                                                        .actions
                                                                .contain
                                                                        span.action.drag
                                                                                i.material-icons.move drag_handle
                                                                                span Move
                                                                .contain.right
                                                                        span.action.delete
                                                                                i.material-icons delete
                                                                                span Delete
                                                                        span.action.copy
                                                                                i.material-icons content_copy
                                                                                span Copy
                                                        .divider
                                                        .collapsible-header
                                                                i.material-icons.toggle arrow_drop_down
                                                                span= question.title
                                                        .collapsible-body
                                                                -var questionNameAttr = "questions[" + index + "]";
                                                                .row
                                                                        input(type="hidden", name=questionNameAttr + "[sort_order]", value=question.sort_order)
                                                                        .col.s12
                                                                                ul.tabs
                                                                                        li.tab
                                                                                                a(href="#question_" + index + "_general", class="active") General
                                                                                        li.tab
                                                                                                a(href="#question_" + index + "_validation") Validation
                                                                                        li.tab
                                                                                                a(href="#question_" + index + "_answers") Possible Answers
                                                                        .col.s12.input-field(id="question_" + index + "_general")
                                                                                div                                                                
                                                                                        label(for=questionNameAttr + "['title']") Question Label
                                                                                        input(type='text', name=questionNameAttr + "[title]", id=questionNameAttr + "[title]", value=question.title)
                                                                                div
                                                                                        label Question Type
                                                                                        select(name=questionNameAttr + "[type]")
                                                                                                option(value="text", selected=question.type=='text') Text
                                                                                                option(value="textarea", selected=question.type=='textarea') Textarea
                                                                                                option(value="radio", selected=question.type=='radio') Radio
                                                                                                option(value="checkbox", selected=question.type=='checkbox') Checkbox
                                                                                                option(value="checkbox", selected=question.type=='dropdown') Dropdown
                                                                        .col.s12.input-field(id="question_" + index + "_validation")   
                                                                                div.required                                                            
                                                                                        label(for=questionNameAttr + "[validation][is_required]", class="active") Required
                                                                                        select(name=questionNameAttr + "[validation][is_required]")
                                                                                                option(value="true", selected=question.validation.is_required==true) Yes
                                                                                                option(value="false", selected=question.validation.is_required==false) No 
                                                                                div.validation-type
                                                                                        label(for=questionNameAttr + "[validation][type]", class="active") Type
                                                                                        select(name=questionNameAttr + "[validation][type]")
                                                                                                option(value="none", selected=question.validation.type=='none') None
                                                                                                option(value="phone", selected=question.validation.type=='phone') Phone Number
                                                                                                option(value="email", selected=question.validation.type=='email') Email Address 
                                                                        .col.s12.input-field(id="question_" + index + "_answers")  
                                                                                each possibleAnswer, indexB in question.answers 
                                                                                        -var possibleAnswerNameAttr = "questions[" + index + "][answers][" + indexB + "]";
                                                                                        div.possible-answer.row
                                                                                                .col.s3
                                                                                                        label(for=possibleAnswerNameAttr + "[label]", class="active") Label
                                                                                                        input(type='text', name=possibleAnswerNameAttr + "[label]", id=possibleAnswerNameAttr + "[label]", value=possibleAnswer.label)
                                                                                                .col.s3
                                                                                                        label(for=possibleAnswerNameAttr + "[value]", class="active") Value
                                                                                                        input(type='text', name=possibleAnswerNameAttr + "[value]", id=possibleAnswerNameAttr + "[value]", value=possibleAnswer.value)
                                                                                                .col-s3
                                                                                                        if indexB == question.answers.length - 1
                                                                                                                a(class="btn add-answer")
                                                                                                                        i(class="material-icons") add
                                                                                                                        span New 
                                                                                                        a(class="btn remove-answer")
                                                                                                                i(class="material-icons") cancel
                                                                                                                span Delete
                                                        .actions
                                                                .contain.right
                                                                        a.action(id="add-question", data-question-id=question._id) 
                                                                                i.material-icons add 
                                                                                span Insert Question  
                .row 
                        .divider                                                                                                                                        
                .row
                        .col
                        input(type="submit", value="Save", class="btn green", id="save")
                        a(href="/form", class="btn red", id="cancel") Cancel
block append footer
        script(src="/js/form/edit_form.js")