extend ../../base

block content
        form(action="", method="post")                
                input(type="hidden", name="_method", value="put")
                input(type="hidden", name="_id", value=doc.form._id)
                .row
                        .col.s12
                                h1=doc.form.title
                                p=doc.form.description
                if doc.form.questions                
                        each question, index in doc.form.questions
                                .row
                                        .input-field.col.s12
                                                -var submissionNameAttr = "submission[answers][" + index + "]";
                                                label(for=submissionNameAttr + "[label]")= question.title
                                                input(type='hidden', name=submissionNameAttr + "[label]", value=question.title)
                                                input(type='text', name=submissionNameAttr + "[value]", id=submissionNameAttr + "[value]", 
                                                        field=question.title, placeholder=question.title + (question.is_required ? '*':''))                                                                                                         
                .row
                        .col
                        input(type="submit", value="Save", class="btn green", id="save")
                        a(href="/form", class="btn red", id="cancel") Cancel
//- block append footer
//-         script(src="/js/form/edit_form.js")